.bronto {
  background-image: url('../dino-images/bronto.png');
}
.ankyl {
  background-image: url('../dino-images/ankyl.png');
}
.dactyl {
  background-image: url('../dino-images/dactyl.png');
}
.para {
  background-image: url('../dino-images/para.png');
}
.raptor {
  background-image: url('../dino-images/raptor.png');
}
.stego {
  background-image: url('../dino-images/stego.png');
}
.t-rex {
  background-image: url('../dino-images/t-rex.png');
}
.toy {
  background-image: url('../dino-images/toy.png');
}
.trike {
  background-image: url('../dino-images/trike.png');
}
