body {
  height: 97vh;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: auto;
  background-image: url('../images/lfz-background.jpg');
  background-size: cover;
}

#header {
  width: 100%;
  color: blue;
  text-align: center;
}

#header > h1 {
  font-size: 40px;
  margin: 15px 0 0 0;
}

#aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#aside > * {
  height: 11%;
  margin: 5px;
  background-color: skyblue;
  text-align: center;
  justify-items: center;
  vertical-align: middle;
}
#aside > * > p {
  margin: 0;
  padding: 12px 0;
}
#aside > *:first-child > p {
  font-weight: bold;
  font-size: 18px;
}

#game-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-left: 20px;
}

.card-sleeve {
  position: relative;
  height: 24%;
}

.card-back, .card-front {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-back {
  background-image: url('../images/lfz-card.jpg');
  position: absolute;
}
.card-front {
  position: absolute;
}

#win-modal {
  position: fixed;
  top: 27%;
  left: 40%;
  background: deepskyblue;
  text-align: center;
}
#win-modal > h1{
  padding: 30px 50px 10px 50px;
}
#reset-game-btn {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
